// import "antd.less";
.diff-row-left {
  background-color: rgb(218, 173, 120);
}
.diff-row-right {
  background-color: rgb(199, 199, 113);
}

.diff-row-common {
}

.diff-row-left-item {
  user-select: text;
  background-color: rgb(209, 82, 82);
}

.diff-row-right-item {
  user-select: text;
  background-color: rgb(47, 175, 154);
}

.diff-row-common-item {
  user-select: text;
}

.diff-left-table {
  user-select: text;
}

.diff-right-table {
  user-select: text;
}
