// import "antd.less";
.row-left-highlight {
  background-color:rgb(218, 173, 120);
}
.row-right-highlight {
  background-color:rgb(199, 199, 113);
}

.row-item-left-highlight {
  background-color:rgb(209, 82, 82);
}

.row-item-right-highlight {
  background-color:rgb(47, 175, 154);
}